<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">User Setting with Angular >></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav mr-auto">
      <li><a class="nav-link" routerLink="/">Home</a></li>
    </ul>
    <!-- <p *ngIf="authSvc.isLogin()&&userData">{{userData.role?.role_id}} {{userData.username}}</p> -->
    <ul class="nav navbar-nav">
      <li *ngIf="authSvc.isLogin()&&(userData?.role.role_id==1)"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <li *ngIf="authSvc.isLogin()&&(userData?.role.role_id==2)"><a class="nav-link" routerLink="/user" routerLinkActive="active">User</a></li>

      <li *ngIf="!authSvc.isLogin()"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="!authSvc.isLogin()"><a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a></li>
      
      <li *ngIf="authSvc.isLogin()"><a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a></li>
    </ul>

  </div>
</nav>
